In [4]:
a=int(input("Enter starting number"))
b=int(input("Enter ending number"))
s=range(a,b)
for x in s:
    for num in range(2,x):
        if x%num==0:
            break
        else:
            print(x,"is prime in range")

3 is prime in range
5 is prime in range
5 is prime in range
5 is prime in range

In [5]:
l=[]
l.append(10)
l.append(20)
l.append(30)
for x in l:
    print(x,end=",")

10,20,30,

In [6]:
#how to insert
a=[10,20]
a.insert(2,30)
print(a)

[10, 20, 30]

In [7]:
a.insert(1,50)
a

[10, 50, 20, 30]

In [8]:
#how to remove
l.remove(20)
l

[10, 30]

In [11]:
D=[5,4,3,2,1]
D.sort()
D

[1, 2, 3, 4, 5]

In [14]:
list=[1,2,3,4]
s=0
for i in list:
    s=s+i
print(s)

10

In [20]:
#leap year
y=int(input("Enter year"))
if((y%400 == 0) or (y%4==0) and (y%100!=0)):
    print("leap year")
else:
    print("NOT")

NOT

In [22]:
S1='My name is AAAAAAAAAAAAAAA'
S1[::-1]

'AAAAAAAAAAAAAAA si eman yM'

In [23]:
s=input("Enter a string")
v="aeiouAEIOU"
count=sum(1 for char in s if char in v)
print("No. of vowels: ",count)

No. of vowels:  1

In [28]:
tuple = (1, 3.14, "Hello", True, 5, 3.14, False, "World")
type_count = {}
for item in tuple:
    item_type = type(item)
    if item_type in type_count:
        type_count[item_type] += 1
    else:
        type_count[item_type] = 1
for dtype, count in type_count.items():
    print(f"{dtype}: {count}")

<class 'int'>: 2
<class 'float'>: 2
<class 'str'>: 2
<class 'bool'>: 2

In [35]:

s={1,2,3}
l={1,3,5,7}
s.update(l)

print(s)

{1, 2, 3, 5, 7}

In [36]:
s={1,2,3,5,6,7}
s.discard(4)

In [38]:
s={1,2,3,5,6,7}
s.remove(5)

In [42]:
d={100:'"deb"',101:'"dipsikha"',102:'"ol"'}
for k in d:
    print('"key="',k,'"value"',d[k])

"key=" 100 "value" "deb"
"key=" 101 "value" "dipsikha"
"key=" 102 "value" "ol"